= form_for [city] do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  = f.submit 'Save', class: 'btn btn-primary'
  = link_to 'Back', cities_path, class: 'btn btn-default'
