= form_for [city, promotion] do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_field :description, class: 'form-control'

  .form-group
    = f.label :start_date
    #start-datetimepicker.input-group.date
      = f.text_field :start_date, class: 'form-control'
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
  .form-group
    = f.label :end_date
    #end-datetimepicker.input-group.date
      = f.text_field :end_date, class: 'form-control'
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
  .form-group
    = f.label :product_id
    /= f.select :product_id, Product.all.map{ |p| [p.name, p.id] }
    = f.collection_select :product_id, Product.all, :id, :name


  .form-group
    = f.label :modifier
    = f.text_field :modifier, class: 'form-control'

  = f.submit 'Save', class: 'btn btn-primary'
= link_to 'Back', city_promotions_path, class: 'btn btn-default'
