= form_for [city, promotion] do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_field :description, class: 'form-control'
  .form-group
    = f.label :start_date
    = f.date_field :start_date, class: 'form-control'
  .form-group
    = f.label :end_date
    = f.date_field :end_date, class: 'form-control'
  .form-group
    = f.label :modifier
    = f.text_field :modifier, class: 'form-control'

  = f.submit 'Save', class: 'btn btn-primary'
= link_to 'Back', city_promotions_path, class: 'btn btn-default'
