%table.table
  %tr
    %th Name:
    %td= product.name
  %tr
    %th Description:
    %td= product.description
  %tr
    %th Price:
    %td= product.base_price

  %tr
    %th Category:
    %td= product.category
  %tr
    %th Shop:
    %td= product.shop_id
  -if product.image?
    %tr
      %th Image:
      %td= image_tag(product.image, size: '50x50')
- if user_signed_in? && current_user.admin?
  = link_to 'Edit', edit_product_path(product), class: 'btn btn-default'
= link_to 'Back', products_path, class: 'btn btn-default'
